<mat-toolbar color="primary" class="footer">
    <div class="footer-content">
      @if (fechaFormateada) {
        <span class="footer-text">
          Sesión iniciada el: {{ fechaFormateada }}
        </span>
      }
      <span class="spacer"></span>
      <span class="footer-text">© 2025 Nexus Gym. Todos los derechos reservados.</span>
      <span class="spacer"></span>
      <span class="footer-text">Proyecto universitario – Universidad Autónoma de Aguascalientes</span>
      <span class="spacer"></span>
      <div class="footer-icons">
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </mat-toolbar>
  