<div>
    <div class="titulo-animado animate__animated animate__fadeInDown" [ngStyle]="{
        'font-size': '2.2rem',
        'font-weight': '600',
        'color': '#252424',
        'font-family': 'Poppins, sans-serif',
        'letter-spacing': '1px',
        'text-align': 'center'
      }">
       <span style="color: #f7076b; font-weight: 700;">¡Conoce nuestra promocion del mes de mayo!</span>
      <div [ngStyle]="{
          'width': '290px',
          'height': '4px',
          'background-color': '#f7076b',
          'margin': '12px auto 0',
          'border-radius': '10px'
        }">
      </div>
    </div>
    <div 
  style="display: grid; place-items: center; padding: 1rem;"
>
  <img src="assets/img/promocion3.png" alt="Promocion"
    [ngStyle]="{
      'width': '900px',
      'max-width': '800px',
      'height': 'auto',
      'border-radius': '8px',
      'margin-top': '20px'
    }"
  >
</div>

</div>
