<div style="display: grid; place-items: center;">
    <div class="titulo-animado animate__animated animate__fadeInDown" [ngStyle]="{
        'font-size': '2.2rem',
        'font-weight': '600',
        'color': '#252424',
        'font-family': 'Poppins, sans-serif',
        'letter-spacing': '1px',
        'text-align': 'center'
      }">
       <span style="color: #f7076b; font-weight: 700;">Acerca de nosotros</span>
      <div [ngStyle]="{
          'width': '290px',
          'height': '4px',
          'background-color': '#f7076b',
          'margin': '12px auto 0',
          'border-radius': '10px'
        }">
      </div>
    </div>
  </div>
