<div class="contenedor-resumen">
    <h4 class="titulo-resumen">
      <i class="fas fa-chart-bar me-2"></i>Resumen del sistema
    </h4>
  
    <div class="grid-resumen">
      <div class="item-resumen">
        <h3 class="valor">+3000</h3>
        <p class="descripcion">Clientes Registrados</p>
      </div>
      <div class="item-resumen">
        <h3 class="valor">8</h3>
        <p class="descripcion">Clases Activas</p>
      </div>
      <div class="item-resumen">
        <h3 class="valor">92.13%</h3>
        <p class="descripcion">Nivel de Satisfacción</p>
      </div>

      <div class="item-resumen">
        <h3 class="valor">15</h3>
        <p class="descripcion">Entrenadores Activos</p>
      </div>
      
    </div>
  </div>
  