<div class="mt-5 px-3">
    <div style="display: grid; place-items: center; margin-top: 40px;">
        <div
          class="titulo-animado animate__animated animate__fadeInDown"
          [ngStyle]="{
            'font-size': '2.2rem',
            'font-weight': '600',
            'color': '#252424',
            'font-family': 'Poppins, sans-serif',
            'letter-spacing': '1px',
            'text-align': 'center'
          }">
          ¡Organizacion <span style='color: #f7076b; font-weight: 700;'>General </span>del Proyecto!
          <div
            [ngStyle]="{
              'width': '320px',
              'height': '4px',
              'background-color': '#f7076b',
              'margin': '12px auto 0',
              'border-radius': '10px',
              'margin-bottom': '15px'
            }">
          </div>
        </div>
      </div>
  
    <div class="trello-grid">
      <div class="trello-card animate__animated" onmouseenter="this.classList.add('animate__heartBeat')" onmouseleave="this.classList.remove('animate__heartBeat')">
        <span class="emoji-num">1</span>
        <h3>Inicio</h3>
        <ul>
          <li>Api de entrenadoras</li>
          <li>Buscador de entrenadoras</li>
          <li>carrusel</li>
          <li>Header con eslogan</li>
          <li>Completar la información del footer de proyecto universitario y iconos funcionando de redes sociales.</li>
        </ul>
        <h3>Alicia</h3>
      </div>
  
      <div class="trello-card">
        <span class="emoji-num">2</span>
        <h3>Configuracion</h3>
        <ul>
          <li>Tabla con los datos, opcion  de eliminar o editar</li>
          <li>Mostrar mensaje de "no hay datos para mostrar" en caso de que se elimine un adm</li>
        </ul>
        <h3>Alicia</h3>
      </div>
  
      <div class="trello-card">
        <span class="emoji-num">3</span>
        <h3>Nosotros</h3>
        <ul>
          <li>Breve descripcion sobre el gym</li>
          <li>Cards de las opiniones de los clientes haciendo uso de grid</li>
          <li>formulario template</li>
        </ul>
        <h3>Kimberly</h3>
      </div>

      <div class="trello-card">
        <span class="emoji-num">4</span>
        <h3>Clases</h3>
        <ul>
          <li>Grid o flex de las clases y una breve descripcion</li>
          <li>Mostrar planes/mensualidades</li>
        </ul>
        <h3>Kimberly</h3>
      </div>

      <div class="trello-card">
        <span class="emoji-num">5</span>
        <h3>Contacto</h3>
        <ul>
          <li>Uso de grid o flex para el acomodo de la imagen y texto breve de las creadoras</li>
        </ul>
        <h3>Kimberly & Alicia</h3>
      </div>

      <div class="trello-card">
        <span class="emoji-num">6</span>
        <h3>Galeria</h3>
        <ul>
            <li>Masorny de equipos de entrenamiento y actividades</li>
        </ul>
        <h3>Kimberly</h3>
      </div>

      <div class="trello-card">
        <span class="emoji-num">7</span>
        <h3>Formulario reactivo</h3>
        <ul>
          <li>Implementacion de diseño y funcionalidad, asi como validaciones para el inicio de sesion de 
            administradores permitidos
          </li>
        </ul>
        <h3>Alicia</h3>
      </div>

      <div class="trello-card animate__animated" onmouseenter="this.classList.add('animate__heartBeat')" onmouseleave="this.classList.remove('animate__heartBeat')">
        <span class="emoji-num">3</span>
        <h3>Documentacion</h3>
        <ul>
          <li>Link proyecto de github</li>
          <li>Link Github Pages</li>
          <li>Link video SP & autocalificacion</li>
          <li>Link api utilizada</li>
          <li>Link de trello donde se indican las actividades realizadas por cada estudiante</li>
          <li>Imagenes de todas las vistas del proyecto</li>
        </ul>
        <h3>Kimberly & Alicia</h3>
      </div>

    </div>
  </div>
  